.vs/
Library/PackageCache/
.vs/
Library/
Library/PackageCache/
Library/Artifacts/
.vs/
Library/
Artifacts/
Library/
.vs/
Artifacts/
Temp/
/Logs/
/UserSettings/
/Library/
/Temp/
/Obj/
/Build/
/Logs/
/UserSettings/
*.csproj
*.sln
*.unityproj
*.dll
*.obj
/Builds/
/obj/
